{
	"semi": true,
	"useTabs": true,
	"quoteProps": "consistent",
	"singleQuote": false,
	"jsxSingleQuote": false,
	"overrides": [
		{
			"files": ["*.jsx", "*.tsx", "*.html", "*.json"],
			"options": { "tabWidth": 2 }
		}
	]
}
